<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
       <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
<div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>

<br/><br/>
<div class="center hero-unit">
  <h1>Welcome to, GTUITNS &nbsp;and&nbsp;GTUWMC Student Discussion Portal.</h1>
<br/><br/>
  <q style="text-align:center;">
  This is not an official portal for Gujarat Technological University Ahmedabad.<br/>This portal`s sole purpose is to help getting connect all the students of GTUITNS and GTUWMC.  
  </q>
<br/><br/>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<% end %>
